Repository DLR-SR/ThermofluidStream, pull requests merged in 2023-04, with the labels that each got.

#93 Add conversion script
  ThermofluidStream/Resources/Scripts/Conversion/ConvertTFS_from_0.2.1_to_0.3.0.mos
  ThermofluidStream/Resources/Scripts/Conversion/ConvertTFS_from_1.0.0_to_1.1.0.mos
  ThermofluidStream/package.mo
Labels: enhancement

#90 Update FlowResistance
  ThermofluidStream/Processes/FlowResistance.mo
  ThermofluidStream/Processes/Internal/FlowResistance/laminarPressureLoss.mo
  ThermofluidStream/Processes/Internal/FlowResistance/laminarTurbulentPressureLoss.mo
  ThermofluidStream/Processes/Internal/FlowResistance/laminarTurbulentPressureLossHaaland.mo
  ThermofluidStream/Processes/Internal/FlowResistance/package.order
  ThermofluidStream/Processes/Internal/FlowResistance/pleaseSelectPressureLoss.mo
  ThermofluidStream/Processes/Internal/FlowResistance/referencePressureLoss.mo
  ThermofluidStream/Processes/Internal/FlowResistance/zetaPressureLoss.mo
  ThermofluidStream/Processes/Internal/ReferencePressureDropFunction.mo
  ThermofluidStream/Processes/Internal/ShapeOfResistance.mo
  ThermofluidStream/Processes/Internal/package.order
Labels: enhancement

#94 Add release notes
  ThermofluidStream/UserGuide/ReleaseNotes.mo
  ThermofluidStream/UserGuide/package.order
Labels: layer::documentation

#95 Updated Inlet and Outlet diagram and icon to be consistent with MSL
  ThermofluidStream/Boundaries/Sink.mo
  ThermofluidStream/Boundaries/Source.mo
  ThermofluidStream/FlowControl/BasicControlValve.mo
  ThermofluidStream/FlowControl/CheckValve.mo
  ThermofluidStream/FlowControl/MCV.mo
  ThermofluidStream/FlowControl/PCV.mo
  ThermofluidStream/FlowControl/SpecificValveType.mo
  ThermofluidStream/FlowControl/TanValve.mo
  ThermofluidStream/HeatExchangers/CounterFlowNTU.mo
  ThermofluidStream/HeatExchangers/CrossFlowNTU.mo
  ThermofluidStream/Interfaces/Inlet.mo
  ThermofluidStream/Interfaces/Outlet.mo
  ThermofluidStream/Interfaces/SISOFlow.mo
  ThermofluidStream/Processes/FlowResistance.mo
  ThermofluidStream/Processes/Internal/PartialTurboComponent.mo
  ThermofluidStream/Processes/Nozzle.mo
  ThermofluidStream/Processes/TransportDelay.mo
  ThermofluidStream/Sensors/MultiSensor_Tpm.mo
  ThermofluidStream/Sensors/SingleFlowSensor.mo
  ThermofluidStream/Topology/DynamicJunctionN.mo
  ThermofluidStream/Topology/DynamicJunctionNM.mo
  ThermofluidStream/Topology/DynamicSplitterN.mo
  ThermofluidStream/Topology/Internal.mo
  ThermofluidStream/Topology/JunctionN.mo
  ThermofluidStream/Topology/JunctionNM.mo
  ThermofluidStream/Topology/JunctionT1.mo
  ThermofluidStream/Topology/JunctionT2.mo
  ThermofluidStream/Topology/JunctionX1.mo
  ThermofluidStream/Topology/JunctionX2.mo
  ThermofluidStream/Topology/JunctionX3.mo
  ThermofluidStream/Topology/NonPhysical.mo
  ThermofluidStream/Topology/SplitterN.mo
  ThermofluidStream/Topology/SplitterT1.mo
  ThermofluidStream/Topology/SplitterT2.mo
  ThermofluidStream/Topology/SplitterX.mo
Labels: layer::icon, layer::diagram, p::Interfaces

#99 Document changes (diagram and icon) on Inlet and Outlet
  ThermofluidStream/UserGuide/ReleaseNotes.mo
Labels: layer::documentation

#97 Discretized crossflow fix
  ThermofluidStream/HeatExchangers/DiscretizedCounterFlowHEX.mo
  ThermofluidStream/HeatExchangers/DiscretizedCounterFlowHEX_FR.mo
  ThermofluidStream/HeatExchangers/DiscretizedCrossFlowHEX.mo
  ThermofluidStream/HeatExchangers/DiscretizedCrossFlowHEX_FR.mo
  ThermofluidStream/HeatExchangers/Internal/ConductionElementHEX.mo
  ThermofluidStream/HeatExchangers/Internal/ConductionElementHEX_twoPhase.mo
  ThermofluidStream/HeatExchangers/Internal/PartialConductionElementHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/DiscretizedCounterFlowHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/DiscretizedCrossFlowHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/Internal/ConductionElementHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/Internal/ConductionElementHEX_twoPhase.mo
  ThermofluidStream/Undirected/HeatExchangers/Internal/PartialConductionElementHEX.mo
  ThermofluidStream/UserGuide/ReleaseNotes.mo
Labels: bug, p::HeatExchangers

#108 Extend functions from 'Modelica.Icons.Function'
  ThermofluidStream/FlowControl/Internal/ControlValve/partialValveCharacteristics.mo
  ThermofluidStream/Processes/Internal/FlowResistance/partialPressureLoss.mo
  ThermofluidStream/Processes/Internal/TurboComponent/partial_dp_tau.mo
  ThermofluidStream/Sensors/Internal/getFlowQuantity.mo
  ThermofluidStream/Sensors/Internal/getFlowUnit.mo
  ThermofluidStream/Sensors/Internal/getQuantity.mo
  ThermofluidStream/Sensors/Internal/getTwoPhaseQuantity.mo
  ThermofluidStream/Sensors/Internal/getTwoPhaseUnit.mo
  ThermofluidStream/Sensors/Internal/getUnit.mo
  ThermofluidStream/Undirected/Internal/regStepState.mo
  ThermofluidStream/Utilities/Functions/sigmoid.mo
Labels: layer::icon
