Repository DLR-SR/ThermofluidStream, pull requests merged in 2023-05, with the labels that each got.

#111 Added regSquare to partial valve models for improved robustness
  ThermofluidStream/FlowControl/Internal/PartialValve.mo
  ThermofluidStream/Undirected/FlowControl/Internal/PartialValve.mo
Labels: p::FlowControl

#110 Extract common code from DiscretizedHEX models into a partial model.
  ThermofluidStream/HeatExchangers/CounterFlowNTU.mo
  ThermofluidStream/HeatExchangers/CrossFlowNTU.mo
  ThermofluidStream/HeatExchangers/DiscretizedCounterFlowHEX.mo
  ThermofluidStream/HeatExchangers/DiscretizedCounterFlowHEX_FR.mo
  ThermofluidStream/HeatExchangers/DiscretizedCrossFlowHEX.mo
  ThermofluidStream/HeatExchangers/DiscretizedCrossFlowHEX_FR.mo
  ThermofluidStream/HeatExchangers/Internal/PartialDiscretizedHEX.mo
  ThermofluidStream/HeatExchangers/Internal/PartialNTU.mo
  ThermofluidStream/HeatExchangers/Internal/package.order
  ThermofluidStream/Undirected/HeatExchangers/DiscretizedCounterFlowHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/DiscretizedCrossFlowHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/Internal/PartialDiscretizedHEX.mo
  ThermofluidStream/Undirected/HeatExchangers/Internal/package.order
  ThermofluidStream/Undirected/HeatExchangers/Tests/TestDiscretizedHEXvsDir.mo
  ThermofluidStream/UsersGuide/ReleaseNotes.mo
  ThermofluidStream/UsersGuide/Rules.mo
Labels: enhancement, p::HeatExchangers

#115 Icon: add more lines to an array connector
  ThermofluidStream/Topology/JunctionN.mo
  ThermofluidStream/Topology/JunctionNM.mo
  ThermofluidStream/Topology/SplitterN.mo
Labels: layer::icon

#119 Git automation: add labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement, CI

#123 Soften automatic labeling
  .github/labeler.yml
  .github/workflows/label.yml
Labels: CI

#124 Ignore 'HTTP Error 403 Forbidden' in link check
  .CI/checkHTMLDoc/checkLinks.py
Labels: CI

#120 Similar class description for similar classes
  ThermofluidStream/Topology/JunctionN.mo
  ThermofluidStream/Topology/JunctionNM.mo
  ThermofluidStream/Topology/SplitterN.mo
Labels: p::Topology

#126 Redesign Inlet and Outlet connectors
  ThermofluidStream/Boundaries/DynamicPressureInflow.mo
  ThermofluidStream/Boundaries/DynamicPressureOutflow.mo
  ThermofluidStream/Boundaries/Sink.mo
  ThermofluidStream/Boundaries/Source.mo
  ThermofluidStream/Boundaries/TerminalSink.mo
  ThermofluidStream/Boundaries/TerminalSource.mo
  ThermofluidStream/FlowControl/BasicControlValve.mo
  ThermofluidStream/FlowControl/CheckValve.mo
  ThermofluidStream/FlowControl/MCV.mo
  ThermofluidStream/FlowControl/PCV.mo
  ThermofluidStream/FlowControl/SpecificValveType.mo
  ThermofluidStream/FlowControl/TanValve.mo
  ThermofluidStream/HeatExchangers/CrossFlowNTU.mo
  ThermofluidStream/Interfaces/Inlet.mo
  ThermofluidStream/Interfaces/Outlet.mo
  ThermofluidStream/Processes/FlowResistance.mo
  ThermofluidStream/Processes/Internal/PartialTurboComponent.mo
  ThermofluidStream/Processes/Nozzle.mo
  ThermofluidStream/Processes/TransportDelay.mo
  ThermofluidStream/Sensors/MultiSensor_Tpm.mo
  ThermofluidStream/Sensors/SingleFlowSensor.mo
  ThermofluidStream/Topology/DynamicJunctionN.mo
  ThermofluidStream/Topology/DynamicJunctionNM.mo
  ThermofluidStream/Topology/DynamicSplitterN.mo
  ThermofluidStream/Topology/Internal.mo
  ThermofluidStream/Topology/JunctionNM.mo
  ThermofluidStream/Topology/JunctionT1.mo
  ThermofluidStream/Topology/JunctionT2.mo
  ThermofluidStream/Topology/JunctionX1.mo
  ThermofluidStream/Topology/JunctionX2.mo
  ThermofluidStream/Topology/JunctionX3.mo
  ThermofluidStream/Topology/NonPhysical.mo
  ThermofluidStream/Topology/SplitterN.mo
  ThermofluidStream/Topology/SplitterT1.mo
  ThermofluidStream/Topology/SplitterT2.mo
  ThermofluidStream/Topology/SplitterX.mo
  ThermofluidStream/Undirected/Topology/ConnectForeOutlet.mo
  ThermofluidStream/Undirected/Topology/ConnectInletFore.mo
  ThermofluidStream/Undirected/Topology/ConnectInletRear.mo
  ThermofluidStream/Undirected/Topology/ConnectRearOutlet.mo
Labels: layer::icon, p::HeatExchangers, p::Interfaces, p::Processes, p::Boundaries, p::FlowControl, p::Sensors, p::Topology
