Repository DLR-SR/ThermofluidStream, pull requests merged in 2023-09, with the labels that each got.

#140 Improve check pattern for deprecated Text.lineColor annotation
  .CI/check_deprecated_line_color.py
Labels: CI

#141 Make redeclared element replaceable
  ThermofluidStream/HeatExchangers/Internal/ConductionElementHEX_twoPhase.mo
Labels: bug, p::HeatExchangers

#142 Improve user's guide
  ThermofluidStream/UsersGuide/Nomenclature.mo
  ThermofluidStream/UsersGuide/Rules.mo
Labels: p::UsersGuide

#143 Delete unused or useless 'import'
  ThermofluidStream/Examples/SimpleAirCycle.mo
  ThermofluidStream/Undirected/Sensors/package.mo
Labels: p::Sensors

#144 Reduce usage of annotations 'choice' and 'choicesAllMatching'
  ThermofluidStream/Boundaries/Internal/InitializationMethodsPhaseSeperator.mo
  ThermofluidStream/Boundaries/PhaseSeparator.mo
  ThermofluidStream/Boundaries/PhaseSeparator2.mo
  ThermofluidStream/DropOfCommons.mo
  ThermofluidStream/Interfaces/SISOFlow.mo
  ThermofluidStream/Processes/FlowResistance.mo
  ThermofluidStream/Processes/Internal/FlowResistance/laminarTurbulentPressureLoss.mo
  ThermofluidStream/Processes/Internal/FlowResistance/laminarTurbulentPressureLossHaaland.mo
  ThermofluidStream/Processes/Internal/FlowResistance/referencePressureLoss.mo
  ThermofluidStream/Processes/Internal/Material.mo
  ThermofluidStream/Processes/Internal/PartialTurboComponent.mo
  ThermofluidStream/Processes/Internal/ReferencePressureDropFunction.mo
  ThermofluidStream/Processes/Internal/ShapeOfResistance.mo
  ThermofluidStream/Sensors/DifferenceSensorSelect.mo
  ThermofluidStream/Sensors/DifferenceTwoPhaseSensorSensorSelect.mo
  ThermofluidStream/Sensors/Internal/Types.mo
  ThermofluidStream/Sensors/MultiSensor_Tp.mo
  ThermofluidStream/Sensors/MultiSensor_Tpm.mo
  ThermofluidStream/Sensors/SingleFlowSensor.mo
  ThermofluidStream/Sensors/SingleSensorSelect.mo
  ThermofluidStream/Sensors/SingleSensorX.mo
  ThermofluidStream/Sensors/TwoPhaseSensorSelect.mo
  ThermofluidStream/Undirected/Boundaries/PhaseSeparator.mo
  ThermofluidStream/Undirected/Interfaces/SISOBiFlow.mo
  ThermofluidStream/Undirected/Sensors/MultiSensor_Tpm.mo
  ThermofluidStream/Undirected/Sensors/SingleFlowSensor.mo
  ThermofluidStream/Undirected/Sensors/SingleSensorSelect.mo
  ThermofluidStream/Undirected/Sensors/SingleSensorX.mo
  ThermofluidStream/Utilities/Types.mo
Labels: p::Interfaces, p::Processes, p::Boundaries, p::Sensors, p::Utilities

#151 Fix PCV
  ThermofluidStream/FlowControl/PCV.mo
Labels: p::FlowControl

#153 Fix wrong medium definition
  ThermofluidStream/HeatExchangers/Tests/CrossFlowNTU_zeroMassFlow.mo
Labels: p::HeatExchangers

#152 Fix pressure loss functions
  ThermofluidStream/Processes/Internal/FlowResistance/laminarTurbulentPressureLoss.mo
  ThermofluidStream/Processes/Internal/FlowResistance/laminarTurbulentPressureLossHaaland.mo
Labels: p::Processes
